<div class="content-edit">
    <h1 class="title-page">Crie conta MyBANK!</h1>
    <div class="view">
        <form>
            <p>USERNAME</p>
            <input type="text">
            <p>E-MAIL</p>
            <input type="text">
            <p>PHONE</p>
            <input type="text">
            <p>PASSWORD</p>
            <input type="password">
            <p>PASSWORD</p>
            <input type="password">
            <p>BALANCE</p>
            <input type="text">

            <button type="submit">ENTER</button>
        </form>
    </div>
    <div>
        <ul>
            <li><h1>AJUDA</h1></li>
            <li><h1>AJUDA</h1></li>
            <li><h1>AJUDA</h1></li>
            <li><h1>AJUDA</h1></li>
            <li><h1>AJUDA</h1></li>
            <li><h1>AJUDA</h1></li>
        </ul>
    </div>
</div>