<div class="content-login">
    <ul class="users-list">
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
        <li class="user-box">
            <div class="options-users">
                <button>EDIT</button>
                <button>REMOVE</button>
            </div>
            <h3>NUMEOR DA CONTA: 2</h3>
            <img class="img-user" src="../../assets/img/noUser.png">
            <div class="info-box-user">
                <p>USERNAME: carlos alberto dantas filho </p>
                <p>E-MAIL: carlosdantas485@gmail.com</p>
                <p>PHONE: (11) 98350-2027</p>
                <h3>SALDO: R$: 1.000.000,00</h3>
            </div>
        </li>
    </ul>
</div>