<div class="content-login">
    <ul class="orders-list">
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
                
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
        <li class="order-box">
            <div class="options-orders">
                <button>STATUS: PAGO</button>
            </div>
            <div class="info-box-order">
                <h4>Numero do pedido: 15</h4>
                <p>De: CARLOS ALBERTO DANTAS FILHO</p>
                <p>Para: THIAGO CUNHA DE MELO</p>
                <h3>Valor do deposito: R$ 10.000,00</h3>
            </div>
        </li>
    </ul>
</div>