<div class="content-login">
    <div class="view">
        <div class="banner-login">
            <h1>LOGIN</h1>
            <img class="login-bg" src="../../assets/img/login-bg.png" alt="">
        </div>
        <form>
            <div class="input-form">
                <p>USERNAME</p>
                <input type="text">
            </div>
            <div class="input-form">
                <p>PASSWORD</p>
                <input  type="password">
            </div>
            <button  class="btn-submit"type="submit">ENTER</button>
        </form>
    </div>
</div>