body{

    margin: 0;
    padding: 0;
    background-image: url(../assets/img/bg-site.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar{
    background-color: rgb(45, 79, 107);
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

.container-fluid{
    margin: 0;
    padding: 0;
}