<div class="content-home">
    <h1 class="title-page">Olá seja muito bem-vindo ao MyBANK!</h1>
    <div class="about-bank">
        <img class="baner-header" src="../../assets/img/bannerTower.jpg" alt="">
        <div class="content-about">
            <img class="img-peoples-about"src="../../assets/img/peoples.jpg" alt="">
            <div class="text-about">
                <h3> ahsdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd asld sldj fsdj fçsd sd sd flaksd flasdjfçalsdj ss dalsjdçfla sdça df asjçdlfaj sçdlfja sdçlf sd
                    ahsdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd asld sldj fsdj fçsd sd sd flaksd flasdjfçalsdj ss dalsjdçfla sdça df asjçdlfaj sçdlfja sdçlf sd
                    ahsdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd asld sldj fsdj fçsd sd sd flaksd flasdjfçalsdj ss dalsjdçfla sdça df asjçdlfaj sçdlfja sdçlf sd
                </h3>
            </div>
        </div>
    </div>
    <div class="projects-bank">
        <h1>MyBANK PROJETOS!</h1>
        <div class="box-itens-projects">
            <div class="project-item" >
                <img class="img-project" src="../../assets/img/noUser.png" alt="">
                <p>sdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd </p>
                <p>sdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd </p>
            </div>
            <div class="project-item" >
                <img class="img-project" src="../../assets/img/noUser.png" alt="">
                <p>sdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd </p>
                <p>sdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd </p>

            </div>
            <div class="project-item" >
                <img class="img-project" src="../../assets/img/noUser.png" alt="">
                <p>sdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd </p>
                <p>sdfhsdjkfsd sdf sdçfasd çfsjd fçalsd asdjfasd sdfasd alsd </p>

            </div>
        </div>
    </div>
    <div class="social-midia">
        <div class="item-social-midia">
            <img src="" alt="">
            <ul>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
            </ul>
        </div>
        <div class="item-social-midia">
            <img src="" alt="">
            <ul>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
            </ul>
        </div>
        <div class="item-social-midia">
            <img src="" alt="">
            <ul>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
                <li>INSTAGRAM</li>
            </ul>
        </div>
</div>
