<div class="content-home">
    <h1 class="title-page">Olá seja muito bem-vindo ao MyBANK!</h1>
    <div class="about-bank">
        <img class="baner-header" src="../../assets/img/bannerTower.jpg" alt="">
        <div class="content-about">
            <img class="img-peoples-about"src="../../assets/img/peoples.jpg" alt="">
            <div class="text-about">
                <h3> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </h3>
            </div>
        </div>
    </div>
    <div class="projects-bank">
        <h1> Parceria com a MyBANK!</h1>
        <div class="box-itens-projects">
            <div class="project-item" >
                <h2>CEO</h2>
                <img class="img-project" src="../../assets/img/noUser.png" alt="">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
            <div class="project-item" >
                <h2>CEO</h2>
                <img class="img-project" src="../../assets/img/noUser.png" alt="">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
            <div class="project-item" >
                <h2>CEO</h2>
                <img class="img-project" src="../../assets/img/noUser.png" alt="">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
        </div>
    </div>
    <div class="social-midia">
        <div class="item-social-midia">
            <img src="" alt="">
            <ul>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
            </ul>
        </div>
        <div class="item-social-midia">
            <img src="" alt="">
            <ul>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
            </ul>
        </div>
        <div class="item-social-midia">
            <img src="" alt="">
            <ul>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
                <li>
                    <h4>Instagram</h4>
                </li>
            </ul>
        </div>
</div>
